[env]
DEBUG=True
LOG_LEVEL=DEBUG
LOG_FILE=/home/pi/GRWCTL/grwctl.log


[database]
DB_HOST=localhost
DB_PORT=8086
DB_NAME=sensors
DB_USER=user
DB_PASSWORD=password


[sensors]
DHT22_SENSOR1_NAME=DHT22_SENSOR1
DHT22_SENSOR1_PIN=26

DHT22_SENSOR2_NAME=DHT22_SENSOR2
DHT22_SENSOR2_PIN=21

BME280_SENSOR_NAME=BME280
BME280_I2C_ADDRESS=0x76

MOISTURE_SENSOR_NAME=MOISTURE_SENSOR
MOISTURE_SENSOR_PIN=6


[misc]
SENSOR_INTERVAL=60
SECRET_KEY=
API_TIMEOUT=30